@{
    ViewData["Title"] = "AdminHomeIndex";
}

<h1>AdminHomeIndex</h1>

<div>
    <h2> Welcome to Admin Page</h2>

    <a href="./AdminHome/UserIndex"> View User Index</a>
    <a href="./AdminHome/AccountIndex"> View Account Index</a>
    <a href="./AdminHome/TransactionIndex"> View Transaction Index</a>

</div>
