@*
    ///-----------------------------------------------------------------
    ///   Raji Rudhrakumar
    ///   Assignment-2 NWBA Web Application
    ///   Summer Semester 2020
    ///-----------------------------------------------------------------
*@

@{
    ViewData["Title"] = "Home";
}
<div class="text-sm-center">  <h1>National Wealth Bank of Australasia</h1></div>
<div class="center">

    <a href="#">

        <img class="img-fluid" src="~/img/nwba_logo.png" alt="bank" />
    </a>
</div>
