@*
    ///-----------------------------------------------------------------
    ///   Raji Rudhrakumar
    ///   Assignment-2 NWBA Web Application
    ///   Summer Semester 2020
    ///-----------------------------------------------------------------
*@

@{
    ViewData["Title"] = "Privacy Policy";
}



<div class=WordSection1>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal align=center style='text-align:center;border:none;
mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
        <span lang=EN><o:p>&nbsp;</o:p></span>
    </p>

    <div class=MsoNormal align=center style='text-align:center;border:none;
mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
        <span lang=EN>

            <hr size=2 width="100%" align=center>

        </span>
    </div>

    <h1 style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:
yes'>
        <a name="_fznxgpf623a1"></a><span lang=EN>Privacy Policy</span>
    </h1>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            Last updated: <span style='color:black;
mso-color-alt:windowtext;background:#FFF2CC'>28<sup>th</sup> January 2020</span><span style='background:#FFF2CC'><o:p></o:p></span>
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span class=GramE>
            <span lang=EN style='color:black;
mso-color-alt:windowtext;background:#FFF2CC'>
                NWBA<span style='mso-spacerun:yes'>  </span>
            </span><span lang=EN>(</span>
        </span><span lang=EN>
            &quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates <span style='color:black;mso-color-alt:windowtext;background:#FFF2CC'>https://nwba.com.au</span>.
            This page informs you of our policies regarding the collection, use and
            disclosure of Personal Information we receive from users of the Site.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            We use your Personal Information only for
            providing and improving the Site. By using the Site, you agree to the
            collection and use of information in accordance with this policy.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <b style='mso-bidi-font-weight:normal'>
            <span lang=EN>
                Information
                Collection and Use<o:p></o:p>
            </span>
        </b>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            While using our Site, we may ask you to
            provide us with certain personally identifiable information that can be used to
            contact or identify you. Personally, identifiable information may include, but
            is not limited to your name (&quot;Personal Information&quot;).
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <b style='mso-bidi-font-weight:normal'>
            <span lang=EN>
                Log
                Data<o:p></o:p>
            </span>
        </b>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            Like many site operators, we collect information
            that your browser sends whenever you visit our Site (&quot;Log Data&quot;).
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            This Log Data may include information such
            as your computer's Internet Protocol (&quot;IP&quot;) address, browser type,
            browser version, the pages of our Site that you visit, the time and date of
            your visit, the time spent on those pages and other statistics.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            In addition, we may use third party
            services such as Google Analytics that collect, monitor and analyze this …
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><b style='mso-bidi-font-weight:normal'><span lang=EN><o:p>&nbsp;</o:p></span></b></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><b style='mso-bidi-font-weight:normal'><span lang=EN>Communications<o:p></o:p></span></b></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            We may use your Personal Information to
            contact you with newsletters, marketing or promotional materials and other
            information that ...
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><b style='mso-bidi-font-weight:normal'><span lang=EN>Cookies<o:p></o:p></span></b></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            Cookies are files with small amount of
            data, which may include an anonymous unique identifier. Cookies are sent to
            your browser from a web site and stored on your computer's hard drive.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            Like many sites, we use
            &quot;cookies&quot; to collect information. You can instruct your browser to
            refuse all cookies or to indicate when a cookie is being sent. However, if you
            do not accept cookies, you may not be able to use some portions of our Site.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><b style='mso-bidi-font-weight:normal'><span lang=EN>Security<o:p></o:p></span></b></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            The security of your Personal Information
            is important to <span class=GramE>us, but</span> remember that no method of
            transmission over the Internet, or method of electronic storage, is 100%
            secure. While we strive to use commercially acceptable means to protect your
            Personal Information, we cannot guarantee its absolute security.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <b style='mso-bidi-font-weight:normal'>
            <span lang=EN>
                Changes
                o This Privacy Policy
            </span>
        </b>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            This Privacy Policy is effective as of <span style='color:black;mso-color-alt:windowtext;background:#FFF2CC'>
                28<sup>th</sup>
                January 2020
            </span> and will remain in effect except with respect to any
            changes in its provisions in the future, which will be in effect immediately
            after being posted on this page.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            We reserve the right to update or change
            our Privacy Policy at any time and you should check this Privacy Policy
            periodically. Your continued use of the Service after we post any modifications
            to the Privacy Policy on this page will constitute your acknowledgment of the
            modifications and your consent to abide and be bound by the modified Privacy
            Policy.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            If we make any material changes to this
            Privacy Policy, we will notify you either through the email address you have
            provided us, or by placing a prominent notice on our website.
        </span>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <b style='mso-bidi-font-weight:normal'>
            <span lang=EN>
                Contact
                Us<o:p></o:p>
            </span>
        </b>
    </p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'><span lang=EN><o:p>&nbsp;</o:p></span></p>

    <p class=MsoNormal style='border:none;mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;
mso-border-shadow:yes'>
        <span lang=EN>
            If you have any questions about this
            Privacy Policy, please contact us.
        </span>
    </p>

    <p class=MsoNormal style='line-height:normal;mso-pagination:none;border:none;
mso-padding-alt:31.0pt 31.0pt 31.0pt 31.0pt;mso-border-shadow:yes'>
        <span lang=EN><o:p>&nbsp;</o:p></span>
    </p>

    <p class=MsoNormal><span lang=EN><o:p>&nbsp;</o:p></span></p>

</div>
