@*
    ///-----------------------------------------------------------------
    ///   Raji Rudhrakumar
    ///   Assignment-2 NWBA Web Application
    ///   Summer Semester 2020
    ///-----------------------------------------------------------------
*@

<footer class="border-top footer text-muted navbar-fixed-bottom">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - NWBA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </p>
    </div>
</footer>

